<div>
    <label for="{{name}}"  class="block mb-2 text-sm font-medium text-primary dark:text-white">{{label}}</label>
    @if(type === 'textarea')
        <textarea name="{{name}}" id="{{name}}" cols="30" rows="5" class="bg-gray-50 border border-gray-300 text-tertial text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{{value}}</textarea>
    @else
        <input  type="{{type || text}}" id="{{name}}" name="{{ name }}" value="{{ value }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 {{flashMessages.has(`errors.${name}`) ? 'is-invalid' : ''}}">
    @end
</div>