@layout('layout/layout')
@set('title', 'Page création de commentaire')
@section('body')
    <main class="bg-secondary flex flex-col items-center gap-16 p-16">
          
            <h2>Creer le commentaire </h2>
        
            @include('partials/form')
    </main>
@end